:root{
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow' ;
    --main-color: #1a1919;
    --txt-color: #d6d1d1;
    --yg-color: #D5AD00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 3.5rem;
    background: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .hamburger{
    display: none;
}
nav .logo{
    color: var(--txt-color);
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

nav .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

}
nav .menu li{
    list-style: none;
}


nav .menu li a{
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav .menu .btn{
    display: grid;
    place-items: center;

    
    background: var(--yg-color);
    border-radius: 0.4rem;

    height: 1.8rem;
    width: 4.4rem;
    
}

.landing-page{
    width: 100vw;
    height: 120vh;
    position: relative;
}

.landing-page img{
    width: 100vw;
    height: 120vh;
    position: absolute;
  

}

.landing-page .section{
    color: var(--main-color);
    top: 30vh;
    right: 14vw;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.landing-page .section h2{
    font-size: 5rem;
}

.landing-page .section p{
    font-size: 1.2rem;
}

.landing-page .section .btn{
    color: var(--main-color);
    font-size: 1.9rem;
    font-weight: 800;
    
    position: absolute;
    top: 24vh;
}

.hover-underline::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.159s transform ease-in-out;
}

.hover-underline:hover::after{
    transform: scaleX(1);
}

.hover-underline-ft::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.159s transform ease-in-out;
}

.strip-1{
    height: 5rem;
    background: var(--txt-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.strip-1 .hm{
    mix-blend-mode: color-burn;
}
.strip-1 img{
    width: 7vw;
}


.new-arrivals{
    height: 80vh;
    background-color: var(--txt-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.new-arrivals .heading{
    position: absolute;
    top: 1rem;
    left: 3rem;

    color: var(--main-color);
}

.new-arrivals .cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    position: absolute;
}

.new-arrivals .cards .card img{
    height: 50vh;
    width: auto;

    border-radius: 0.6rem;
    transition: all 0.5s ease-in-out;
}
.new-arrivals .cards .card img:hover{
    transform: scale(1.1);
}

.card .container {
    margin-top: 1rem;

}
.card .container .explore-more{
    width: max-content;
    cursor: pointer;
}

.sale{
    height: 110vh;
    width: 100vw;
    position: relative;
}

.sale > img{
    width: 100%;
    height: auto;
    position: absolute;
}
.sale .sale-sale{
    position: absolute;
    left: 10vw;
    top: 40vh;
    font-size: 6rem;
    text-transform: uppercase;

    color: var(--yg-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: gig infinite;
    transition: all 0.5s ease-in-out;
   
}

.sale > .sale-hurry{
    position: absolute;
    font-size: 4.9rem;
    left: 10vw;
    top: 60vh;

    font-family: var(--font-family);
}

.sale > .container{
    position: absolute;
    left: 10vw;
    top: 80vh;
    font-family: var(--font-family);
}

.sale > .container .description{
    font-size: 1.5rem;
}

.sale > .container .description > span{
    font-size: 3rem;
}

.sale > .container .date{
    margin-top: 2rem;
}

.sale > .container .date > p{
    font-weight: 800;
    font-size: 1.3rem;
}

.sale > .container > h2{
    margin-top: 1rem;
   
    background-color: var(--yg-color);
    width: 8rem;
    height: 3rem;

    display: grid;
    place-items: center;

    border-radius: 0.5rem;
}

.sale > .container > h2:hover{
    cursor: pointer;
}

.sale > .container .date .terms{
    font-size: 0.9rem;
}

.popular{
    width: 100vw;
    height: 120vh;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-family: var(--font-family);
}

.popular > h1{
    position: absolute;
    top: 30vh;
    left: 6vw;

    z-index: 5;
}


.popular .card >h4{
    margin-top: 1rem;
}

.popular .card >img{
    width: 40vw;
    height: auto;

    border-radius: 0.8rem;
    transition: all ease-in-out 0.5s;
}

.popular .card >img:hover{
    transform: scale(1.1);

}

.popular .card >p:hover{
    cursor: pointer;
}

.app-download{
    position: relative;

    width: 100vw;
    height: 30vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: var(--font-family);
    background: rgb(127,127,176);
    background: linear-gradient(90deg, rgba(127,127,176,1) 0%, rgba(13,10,61,1) 100%, rgba(0,212,255,1) 100%); 

}

.app-download .container{
    position: absolute;
    left: 10vw;

    font-size: 2rem;
}

.app-download .appstore-playstore{
    position: absolute;
    right: 10vw;
}
.app-download .appstore-playstore > img{
    width: 20vw;

}
.app-download .appstore-playstore > img:hover{
    cursor: pointer;
}


footer{
    position: relative;

    width: 100vw;
    height: 40vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: var(--font-family);

    background: rgb(127,127,176);
    background: linear-gradient(90deg, rgba(127,127,176,1) 0%, rgba(13,10,61,1) 100%, rgba(0,212,255,1) 100%); 
}

footer .social{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 20vw;

    flex-direction: column;

}


footer .social .logos{
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    width: 85%;
}
footer .social > h3,
footer .social > p{
    padding: 1rem 0rem;
}

footer .links{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 40%;

}

footer .links .f-card{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    flex-direction: column;
}
footer .links .f-card li{
    list-style-type: none;    
}

@media (max-width:1200px) {
    .landing-page{
        height: 80vh;
    }
    .landing-page img{
        height: 100vh;
    }
    .landing-page .section h2{
        font-size: 4.2rem;
    }
    .sale .sale-sale{
        font-size: 5rem;

        left: 8vw;
        top: 15vh;
    }
    .sale > .sale-hurry{
        font-size: 3.9rem;

        left: 8vw;
        top: 27vh;
    }
    .sale > .container .description{
        font-size: 1.3rem;
    }
    .sale > .container .description > span{
        font-size: 2.8rem;
    }
    .sale > .container{
        left: 8vw;
        top: 50vh;
    }
    .sale > .container .date{
        margin-top: 1.8rem;
    }
    .popular{
        height: 70vh;
    }
    .popular > h1{
        top: 10vh;
        left: 7vw;

        font-size: 1.2rem;
    }
    .app-download .container{
        left: 10vw;

        font-size: 1.5rem;
    }
    .app-download .appstore-playstore > img{
        width: 17vw;
    
    }
}


@media (max-width:1000px) {
    .landing-page img{
        height: 80vh;
    }
    .landing-page .section h2{
        font-size: 4rem;
    }

    .landing-page .section{
        top: 30vh;
        right: 10vw;
    }
    .new-arrivals .heading{
        font-size: 1.4rem;
    }
    
    .popular{
        height: 58vh;
    }
    .sale{
        height: 97vh;
    }
    .popular > h1{
        top: 5vh;
        left: 7vw;

        font-size: 1.2rem;
    }
    .sale .container{
        left: 8vw;
        top: 45vh;
    }
    .sale .container > h2 {
        width: 6.9rem;
        height: 2.4rem;
    }
}


@media (max-width:900px) {
    .landing-page img{
        height: 80vh;
    }
    .sale .sale-sale{
        font-size: 4rem;

        left: 8vw;
        top: 15vh;
    }

    .sale > .sale-hurry{
        font-size: 3.1rem;

        left: 8vw;
        top: 27vh;
    }

    .sale .container{
        top: 40vh;
    }

    .popular > h1{
        font-size: 0.9rem;
    }

    .sale{
        height: 91vh;
    }
    .popular{
        height: 60vh;
    }
}
@media (max-width:800px) {
    .popular > h1{
        top: 8vh;
    }

}

@media (max-width:800px) {
    nav .hamburger{
        display: flex;
    }
    nav .hamburger {
        position: sticky;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        cursor: pointer;

        color: #f5f5f5;
    }
    nav .hamburger .closeIcon {
        display: none;
    }
    nav .hamburger .closeIcon{
        position: fixed;
    }
    nav .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
        width: 100vw;

        flex-direction: column;
    }
      
    nav .showMenu {
        transform: translateY(0);
    }

    .landing-page{
        width: 100%;
        height: 35vh;
    }
    .landing-page img{
        width: 100%;
        height: 35vh;
    }
    .landing-page .section{
        top: 5vh;
        right: 0vw;

        width: 40vw;
    }
    .landing-page .section h2{
        font-size: 1.7rem;
    }
    .landing-page .section p{
        font-size: 0.7rem;
    }

    .landing-page .section .btn{
        font-size: 0.8rem;
      
        right: 15vw;
        top: 25vh;
    }

    .strip-1{
        margin-top: -1.1rem;
        display: flex;
        flex-direction: column;
        height: 30rem;
    }
    .strip-1 img{
        width: 5rem;
    }
    .new-arrivals {
        height: 200vh;
    }

    .new-arrivals .cards{
        display: flex;
        flex-direction: column;
    }
    .card .container {
        margin-top: 0.2rem;
        margin-bottom: 1rem;
    }
    .sale{
        overflow: hidden;
    }
    .sale > img{
        transform: scale(2);
        left: -15vw;
        top: 11vh;
    }
    .sale .sale-sale{
        left: 2vw;
        top: 11vh;
        font-size: 1.4rem;
    }
    .sale > .sale-hurry{
        font-size: 1.1rem;
        left: 2vw;
        top: 15vh;
    }
    .sale > .container{
        left: 2vw;
        top: 20vh;
        width: 35vw;

    }
    .sale > .container .description{
        font-size: 0.7rem;
    }
    .sale > .container .description > span{
        font-size: 1rem;
    }
    .sale > .container .date > p{

        font-size: 0.5rem;
    }
    .sale > .container .date .terms{
        font-size: 0.5rem;
    }
    .sale > .container > h2{
        width: 95vw;
        height: 3rem;
    }


    .popular{
        flex-direction: column;

        margin-top: -14rem;
        height: 80vh;
    }
    .popular .card >img{
        width: 78vw;
    }
    .popular > h1{
        top: 4vh;
        left: 14vw;
    }

    .app-download{
        height: 70vh;
        display: flex;
        justify-content: space-around;;
        flex-direction: column;
    }
    .app-download .container{
        margin-top: -4rem;
    }
    .app-download .appstore-playstore{
        right: 20vw;
        bottom: 0vh;
    }
    .app-download .appstore-playstore > img{
        width: 60vw;
        height: auto;
    
    }

    footer{
        flex-direction: column;
        height: 100%;
    }
    footer .social{
        width: 70vw;
    }

    footer .social .logos{
        font-size: 2rem;
    }
   
    footer .links{
        flex-direction: column;

        width: 70vw;
        margin-bottom: 0.8rem;
    }
}
    